*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
.menu{
    display: flex;
    margin: 10px 10px 50px 10px;
    width: 100%;
    color: rgb(12, 78, 165);
    font-weight: bold;
    padding: 10px 0;
    
}


.logo_menu img{
    width: 20%;
    height: 35%;
    margin-left: 20px;
}
.nav_menu{
    width: 100%;
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.nav_menu li{
    list-style: none;
}
.nav_menu a{
    color: rgb(12, 78, 165);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
.menu_lista{
    display: flex;
    flex-direction: row;
    
}
