:root{
    --cor-hover-menu:rgb(95, 0, 0);
    --cor-de-fundo:rgb(131, 0, 0);
    --cor-fonte-menu:white;
    

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
#logo{
    height: 90px;
    padding: 5px;
}
.header{
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10%;
    background-color: black;
    font-family: sans-serif;
    box-shadow: 0px 8px 30px ;  
    z-index:10; 
    position: fixed;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
}
.nav-menu{
    display: flex;
    align-items: center;
    margin-left: 250px;
    
}
.nav-item{
    margin: auto 10px auto 150px;

}
.nav-link{
    text-decoration: none;
    font-size: 22px;
    color: var(--cor-fonte-menu);
    font-weight: 600;
}
.nav-link:hover{
    color: var(--cor-hover-menu);

}
h1{
    margin-top: 300px;
    font-family: sans-serif;
}

image{
    width: 100px;
    height: 100px;
}
.tela-login{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.tela-login ul, li{
    margin: 0px;
    list-style: none;

}

.tela-login input,button{
    outline: none !important;
    border:none;
}

.tela-login button:hover{
    cursor: pointer;
}

.tela-login .container{
    width: 100%;
    margin: 0;
}

.tela-login .container-login{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;

}

.tela-login #logo-login{
    width: 40%;
    padding: 10px;
}

.tela-login .wrap-login{
    width: 400px;
    background-color: black;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 8px 30px black;
    height: 500px;
    margin-top: 200px;

}

.tela-login .login-form{
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela-login .wrap-input{
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--cor-fonte-menu);

}

.tela-login .input-form{
    font-size: 18px;
    color: white;
    display: block;
    width: 100%;
    height: 46px;
    background: transparent;
    padding-bottom: 0px;
    padding-left: 60px;
    line-height: 1.2;
}

.tela-login .margin-bottom-35{
    margin-top: 35px;
}

.tela-login .margin-bottom-8{
    margin-bottom: 8px;
}

.tela-login .margin-top-8{
    margin-top: 8px;
}

.tela-login .focus-input-form{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    pointer-events: none;

}

.tela-login .focus-input-form::before{

        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        transition: all 0.4s;
        background-color: black;

}

.tela-login .focus-input-form::after{
    font-size: 18px;
    color: white;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 0;
    padding-left: 5px;
    transition: all 0.4s;
}

.tela-login .input-form:focus+.focus-input-form::after{
    top: -20px;
    font-size: 15px;
}

.tela-login .input-form:focus+.focus-input-form::after{
    top: -20px;
    font-size: 15px;
}